### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
text8.zip
*/wordsim353/*
*/wordsim353
wordsim353/
wikipedia_augmented.dat

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

wikipedia_augmented.dat

word2vec-google-news-300.gz